
.loading-wrapper {
    padding: 14px 35px !important;
    max-width: 100% !important;
    width: calc(100% - 40px);
}

.spinner-bubbles circle,
.spinner-crescent circle {
    stroke: #EF0000 !important;
    stroke-dasharray: 180px !important;
}

.alert-button {
    color: #EF0000 !important;
    font-weight: 400 !important;
}

.alert-button-group {
    padding: 0px 8px !important;
}

.alert-head {
    padding: 10px !important;
}

.popover-content {
    padding: 0 !important;
    width: calc(100% - 20px) !important;
    margin-left: 10px !important;
}

.popover-wrapper {
    width: 100%;
}

.mytoaster {
    position: absolute;
    bottom: 70px;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    transform: translateY(500%);
    opacity: 0;
}

.mytoast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121 !important;
    padding: 5px 10px;
    min-width: 150px;
    max-width: calc(100% - 20px);
    border-radius: 15px;
}

.mytoaster.add {
    opacity: 1;
    transform: translateY(0%);
}

.mytoast {
    color: white;
    font-size: 140%;
}

ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        font-size: 2.5rem;
        height: 1em;
    }

    // custom icons
    // &[class*="custom-key"] {
    //     font-size: 2.0rem !important;
    //     mask-image: url(./../assets/key.svg);
    // }
}